@model Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary("", new { @class = "text-danger" })
<h2>Edit</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2 col-xs-12">
            @Html.DisplayNameFor(x => x.Author)
        </div>
        <div class="col-md-10 col-xs-12">
            @Html.EditorFor(x => x.Author)
            @Html.ValidationMessageFor(x => x.Author, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.DisplayNameFor(x => x.Title)
        </div>
        <div class="col-md-10 col-xs-12">
            @Html.EditorFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.DisplayNameFor(x => x.ProductionYear)
        </div>
        <div class="col-md-10 col-xs-12">
            @Html.EditorFor(x => x.ProductionYear)
        </div>
        <div class="col-md-2 col-xs-12">
            @Html.DisplayNameFor(x => x.Genre)
        </div>
        <div class="col-md-10 col-xs-12">
            @Html.DropDownListFor(x => x.GenreId, (IEnumerable<SelectListItem>)ViewBag.Genres)
        </div>
    </div>

    <div class="col-md-offset-2 col-xs-12">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>

}
