
@model List<Book>
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h2>List of Books</h2>
<table style="width:100%" class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Id)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Title)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().PublishYear)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Author)</th>
        <th>@Html.DisplayNameFor(x => x.FirstOrDefault().Genre)</th>
        <th>Action</th>
    </tr>
    @{
        foreach(var book in Model)
        {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.PublishYear</td>
            <td>@book.Author</td>
            <td>@book.Genre.Name</td>
            <td>@Html.ActionLink("Details", "Details", "Books", new { id = book.Id },new {@class = "btn btn-primary"})</td>
        </tr>
        }
        
    }

</table>
<div>@Html.ActionLink("Add", "Create", "Books", null , new { @class = "btn btn-primary" })</div>


